.header{
  background-color: white;
}
.main-menu{
  background-color: black;
}
.our-advantages{
  background-color: white;
}
.team{
  background-color: white;
}
.footer{
  background-color: rgb(255, 255, 255);
}
.menu-btn{
  background-color: blue;
  color: white;
}
h1{
  color: white;
}
.header-a{
  color: white;
}
.footer-logo{
 color: white;
}
.footer-text{
  color: gray;
}